:root {
  --myblue: #BAE1FF;
  --myred: #FFB3BA;
  --myyellow: #FFE7AE;
  --mygreen: #B9E29B;
  --myorange: #FFB27D;
  --mydarkblue: #94b4cc;
}

* {
  font-family: helvetica;
}

html {
  height: 100%;
}

a:link, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 150%;
}

h2 {
  text-align: center;
}

header {
  text-align: center;
  background: url("img/name-01.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

header img {
  width: 100%;
  vertical-align: bottom;
}

nav {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: var(--myyellow);
  text-align: center;
}

nav a {
  display: inline-block;
  text-align: center;
  min-width: 15%;
  padding: 10px 0;
  border-bottom: 3px solid black;
  transition: 0.5s all;
  background-color: var(--myyellow);
  color: black;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
}

nav a:hover, nav.sticky a:hover {
  border-bottom: 3px solid var(--myred);
  transition: 0.3s all;
  text-decoration: none;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  box-shadow: inset 0px -3px 0px 0px black;
}

nav.sticky a {
  min-width: 20%;
  transition: 0.5s all;
}

body {
  background-color: var(--myblue);
  height: 100%;
  margin: 0;
  transition: 0.5s all;
}

footer {
  text-align: center;
}

#aboutme, #publications, #cv {
  width: 684px;
  margin-left: auto;
  margin-right: auto;
}

#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.9);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 90%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#toast.hide {
  opacity: 0;
}

.headshot {
  background: url("img/haiyang.jpg");
  float: left;
  width: 175px;
  height: 175px;
  background-position: 0% 50%;
  background-size: 100%;
  border-radius: 50%;
  position: relative;
}

.aboutmetext p {
  margin-left: 220px;
}

.title {
  width: 175px;
  position: absolute;
  bottom: -115px;
  text-align: center;
  font-size: 75%;
}

.social {
  width: 175px;
  position: absolute;
  bottom: -40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mail {
  background: url("img/mail-01.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s all;
}

.mail:hover {
  cursor: pointer;
  background-color: var(--myred);
  transition: 0.3s all;
}

.scholar {
  background: url("img/scholar-01.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s all;
}

.scholar:hover {
  cursor: pointer;
  background-color: var(--myred);
  transition: 0.3s all;
}

.twitter {
  background: url("img/twitter-01.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s all;
}

.twitter:hover {
  cursor: pointer;
  background-color: var(--myred);
  transition: 0.3s all;
}

.github {
  background: url("img/github-01.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s all;
}

.github:hover {
  cursor: pointer;
  background-color: var(--myred);
  transition: 0.3s all;
}

.pubs {
  padding-left: 40px;
  text-indent: -40px;
}

.button {
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 100%;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button1 {
  background-color: var(--myyellow); 
  color: black; 
  border: 3px solid black;
}

.button1:hover {
  background-color: var(--myred);
  color: black;
}

.content {
  background-color: var(--myyellow);
  text-align: justify;
  padding: 16px;
}

.changeColor {
  background-color: black;
}

.sticky + .content {
  padding-top: 60px;
}

*[id]:before { 
  display: block; 
  content: ""; 
  margin-top: -30px; 
  height: 30px; 
  visibility: hidden; 
}

@media screen and (max-width: 700px) {
  nav a {
    display: none;
  }
  #aboutme, #publications, #cv {
    width: 100%
  }
  .headshot { 
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 115px;
  }
  .aboutmetext p {
    margin-left: 0;
  }
  .column {
    width: 100%;
  }
  .sticky + .content {
    padding-top: 15px;
  }
}
