:root {
    --myblue: #BAE1FF;
    --myred: #FFB3BA;
    --myyellow: #FFE7AE;
    --mygreen: #B9E29B;
    --myorange: #FFB27D;
    --mydarkblue: #94b4cc;
    --mygray: #AAAAAA;
}

* {
    font-family: helvetica;
}

html {
    height: 100%;
}

body {
    background-color: var(--myblue);
    height: 100%;
    margin: 0;
    transition: 0.5s all;
}

.changeColor {
    background-color: black;
}

a:link, a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    text-align: center;
    background: url("img/name-01.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#header img {
    width: 100%;
    display: block;
}

#navbar {
    width: 100%;
    overflow: hidden;
}

#navbar a {
    float: left;
    text-align: center;
    min-width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    background-color: var(--myyellow);
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
}

#navbar a:hover, .active {
    background-color: var(--myred);
}

#footer {
    text-align: center;
}

.content {
    background-color: var(--myyellow);
    text-align: justify;
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

*[id]:before { 
  display: block; 
  content: ""; 
  margin-top: -30px; 
  height: 30px; 
  visibility: hidden; 
}
